body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
}

h1, h2 {
    color: #000000;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the form box */
}

textarea {
    width: 100%;
    height: 300px; /* Increased height */
}

form textarea {
    width: 200%;
    height: 400px; 
}

form button {
    width: 100%; 
    height: 50px; 
    font-size: 18px; 
    font-weight: bold;
}

.result-container {
    text-align: center;
    max-width: 1400px; 
    margin: 0 auto; 
}

.description-container {
    width: 48%; /* Adjusted width */
    height: 540px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}

.modify-button {
    font-weight: bold;
}


.recommendations-container {
    width: 48%; /* Adjusted width */
    height: 540px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    border: 2px solid #000;
    border-radius: 10px;
    background-color: #fff;
}


.description-container {
    float: left; /* Aligned to the left */
}

.recommendations-container {
    float: right; /* Aligned to the right */
}

.description-container h2,
.recommendations-container h2 {
    margin-bottom: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Logout Button css */
.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline */
}

.logout img {
    width: 40px; 
    height: auto;
    margin-right: 5px; /* Add some spacing between image and text */
    cursor: pointer;
}

.logout span {
    color: black; 
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

/* Login Page Button */
body.login-page form button {
    width: 80px; 
    height: 30px; 
    font-size: 18px; 
    font-weight: bold;
}

/* Register Page Button */
body.register-page form button {
    width: 80px; 
    height: 30px; 
    font-size: 18px; 
    font-weight: bold;
}

/* Index Page Button */
body.index-page form button {
    width: 300px; 
    height: 50px; 
    font-size: 18px; 
    font-weight: bold;
}

#loading-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0; /* Light gray background */
    display: none; 
    margin-top: 10px;
}

#loading-bar {
    height: 100%;
    background-color: #4caf50; /* Green loading bar color */
    width: 0%; 
}


