body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(-45deg, #C2C094, #827081, #A9A587);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    margin: 0;
}

.container {
    text-align: center;
    width: 100%;
}

h1, h2 {
    color: #000000;
}

form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center-align the form box */
}

textarea {
    width: 100%;
    height: 300px; /* Increased height */
}

form textarea {
    width: 200%;
    height: 400px; 
}

/* CSS for analyse button */
.Analyse-Button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 20px !important;
  font-weight: bold; 
  font-family: Helvetica;
  cursor: pointer;
  color: #fff;
  width: 758px !important;
  height: 2.3em !important;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #390040, #CC3F0C, #C2C094, #390040);
  background-size: 300%;
  border-radius: 5px;
  z-index: 1;
  margin-top: 5px;
}

.Analyse-Button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.Analyse-Button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #390040, #CC3F0C, #C2C094, #390040);
  background-size: 400%;
  border-radius: 5px;
  transition: 1s;
}

.Analyse-Button:hover::before {
  filter: blur(20px);
}

.Analyse-Button:active {
  background: linear-gradient(32deg, #390040, #CC3F0C, #C2C094, #390040);
}

/* Title for index.html page */
.heading-description {
    color: white;
    font-weight: bold;
    font-family: Helvetica;
  }

.result-container {
    text-align: center;
    max-width: 1400px; 
    margin: 0 auto; 
}

.description-container {
    width: 48%; /* Adjusted width */
    height: 594px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    border: 4px solid #390040;
    border-radius: 10px;
    font-family: Helvetica;
    background-color: #fff;
}


.recommendations-container {
    width: 48%; /* Adjusted width */
    height: 594px;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px 0;
    border: 4px solid #390040;
    border-radius: 10px;
    font-family: Helvetica;
    background-color: #fff;
}


.description-container {
    float: left; /* Aligned to the left */
}

.recommendations-container {
    float: right; /* Aligned to the right */
}

.description-container h2,
.recommendations-container h2 {
    margin-bottom: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* Logout Button css */
.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    text-decoration: none; /* Remove underline */
}

.logout img {
    width: 40px; 
    height: auto;
    margin-right: 5px; /* Add some spacing between image and text */
    cursor: pointer;
}

.logout span {
    color: white; 
    text-decoration: none; /* Remove underline */
    font-weight: bold;
}

/* Login Page Button */
body.login-page form button {
    width: 80px; 
    height: 30px; 
    font-size: 18px; 
    font-weight: bold;
}

/* Register Page Button */
body.register-page form button {
    width: 80px; 
    height: 30px; 
    font-size: 18px; 
    font-weight: bold;
}

/* Index Page Button */
body.index-page form button {
    width: 300px; 
    height: 50px; 
    font-size: 18px; 
    font-weight: bold;
}

#loading-container {
    width: 100%;
    height: 20px;
    background-color: #f0f0f0; /* Light gray background */
    display: none; 
    margin-top: 10px;
}

#loading-bar {
    height: 100%;
    background-color: #CC3F0C; /* Orange loading bar color */
    width: 0%; 
}


/* Login/Register Page Styles */
body.login-page,
body.register-page {
    background: linear-gradient(-45deg, #C2C094, #827081, #A9A587);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

body.login-page .container,
body.register-page .container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: auto;
    max-width: 400px;
    text-align: center;
}

body.login-page h1,
body.register-page h1 {
    color: #000000;
}

body.login-page form,
body.register-page form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.login-page label,
body.register-page label {
    display: block;
    margin-bottom: 5px;
    color: #333333;
}

body.login-page input,
body.register-page input,
body.login-page button,
body.register-page button {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

body.login-page button,
body.register-page button {
    background-color: #4caf50;
    color: #ffffff;
    cursor: pointer;
}

body.login-page button:hover,
body.register-page button:hover {
    background-color: #45a049;
}

body.login-page p,
body.register-page p {
    margin-top: 15px;
    color: #555555;
}

body.login-page form *:first-child,
body.register-page form *:first-child {
    margin-top: 0;
}

body.register-page form button {
    width: auto; 
    height: 30px;
    font-size: 18px;
    font-weight: bold;
}

body.login-page form button,
body.register-page form button {
    width: auto;
    height: 30px;
    font-size: 18px;
    font-weight: bold;
    padding: 5px 10px; 
}


/* CSS for dropdowns in index.html */
:root {
    --background-select: linear-gradient(to left, #CC3F0C 3rem, #390040 3rem);
    --darkpurple: #390040;
}
  
select {
    /* Reset Select */
    appearance: none;
    border: 0;
    outline: 0;
    background: none;
    color: #fff;
    font-weight: bold;
    box-shadow: none;
    max-width: calc(100% - 0rem);
}

/* Remove IE arrow */
select::-ms-expand {
    display: none;
}

/* Custom Select wrapper */
.select {
    position: relative;
    display: flex;
    width: 256px; /* Width of boxes */
    background: var(--background-select);
    border-radius: 0.25em;
    overflow: hidden;
    margin-right: 1px; /* Margin between select boxes */
    select {
        flex: 1;
        padding: 1em 3rem 1em 1em; /* Reduced padding */
        height: 3em; /* Set the height */
        cursor: pointer;
      }

    &::after {
        content: "\25BC";
        position: absolute;
        color: #fff;
        right: 1rem;
        top: 0.8rem;
        transition: 0.25s all ease;
        pointer-events: none; 
    }

    &:hover::after {
        color: #fff;
        animation: bounce 0.5s infinite;
    }
}

/* Bounce animation */
@keyframes bounce {
    25% {
      transform: translatey(5px);
    }
    75% {
      transform: translatey(-5px);
    }
}

.dropdown-container {
    display: flex;
}

/* Change background color of options */
select option {
    background-color: var(--darkpurple);
}
  

#description {
    width: 764px; 
    resize: none;
    font-family: Helvetica;
}

/* Styles for the horizontal navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #390040; 
    padding: 20px 0; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-grow: 1; 
}

.navbar ul li {
    margin-right: 20px; 
}

.navbar ul li:last-child {
    margin-right: 0; 
}

.navbar ul li a {
    text-decoration: none;
    font-family: Helvetica;
    color: white; 
    font-weight: bold;
}

.navbar .navbar-text {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 30px;
}

.navbar .navbar-text-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul li:first-child a {
    background-color: #CC3F0C; 
    padding: 21px 20px; 
}

.navbar ul li a:hover {
    background-color: #ddd; 
    color: black;
}

/* Styles for the Current/modified description */
.scroll-box {
    overflow-y: auto;
    height: 300px; 
    border: 2px solid #390040; /* Border for styling */
    padding: 5px; /* Padding for better readability */
}

/* Style for educational words */
.educational {
    color: blue;
    font-weight: bold; 
}

/* Style for social words */
.social {
    color: green; 
    font-weight: bold; 
}

/* Style for technological words */
.technological {
    color: red; 
    font-weight: bold; 
}

/* Style for Score box colours */
.score-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 10px;
    border: 1px solid #000;
}

.educational-box {
    background-color: blue; 
}

.social-box {
    background-color: green; 
}

.technological-box {
    background-color: red; 
}

/* Space between text box and buttons */
.modify-button {
    margin-top: 5px; 
}

/* Style for educational button */
.educational-button {
    background: blue;
    border-radius: 999px;
    box-shadow: blue 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  } 

/* Style for social button */
.social-button {
    background: green;
    border-radius: 999px;
    box-shadow: green 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  } 

/* Style for technical button */
.technical-button {
    background: red;
    border-radius: 999px;
    box-shadow: red 0 10px 20px -10px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    font-family: Helvetica;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    opacity: 1;
    outline: 0 solid transparent;
    padding: 6px 12px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: fit-content;
    word-break: break-word;
    border: 0;
  } 



