<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Diversity in Computing</title>
</head>
<body class="index-page">
    <div class="d-flex flex-column justify-content-center w-100 h-100">
        <div class="container">
            <h1>Diversity in Computing</h1>
            <!-- Logout button/image with text -->
            <a href="/logout" class="logout">
                <img src="{{ url_for('static', filename='logout.png') }}" alt="Logout">
                <span>Sign out</span>
            </a>
            <form action="/analyze" method="post">
                <textarea name="text" placeholder="Enter Description to analyse"></textarea>
                <button type="submit">Analyse</button>
            </form>
        </div>
    </div>
</body>
</html>



